.cds-otros {
    background: #ffffff;
    box-shadow: #00000033;
    box-sizing: 100%;
    position: auto;
    margin: auto;
    width: 47%;
    margin-top: 15px;
}

.cds-otros-text {
    text-align: left;
    margin-left: 73px;
    margin-top: 30px;
}

.img-otros {
    height: 240px;
    width: 210px;
    object-fit: cover;
    border-radius: 15px;
}

.tag {
    height: 240px;
    width: 500px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.marg-otros {
    margin-top: 20px;
    font-weight: bold;
}