.srch {
    height: 30px;
    margin-left: 10px;
}

.icon-user {
    color: ivory;
    margin-top: -8px;
    margin-right: 10px;
    vertical-align: center;
}

.inicio {
    color: ivory;
    margin-top: 5px;
}