<div class="container-fluid">
    <div class="row banner text-center align-items-center">
        <div class="container search-block">
            <h1 class="text-white font-weight-light">!Te damos la bienvenida!</h1>
            <form>
                <div class="form-group d-flex position-relative align-items-center">
                    <input type="text" class="form-control search-bar font-weight-light search-text" placeholder="Encuentra aquí lo que buscas">
                    <button type="button" class="btn-symbolic-govco search-button">
							<span class="govco-icon govco-icon-search-cn size-3x"></span>
						</button>
                </div>
            </form>
            <h3 class="text-white font-weight-light">Toda la oferta del Estado Colombiano a tu alcance</h3>
        </div>
    </div>
</div>