.banner {
    background: url("src/assets/images/header.png");
    background-size: cover;
    margin-top: 100px;
    height: 390px;
}

.search-block {
    max-width: 50%;
    margin: auto;
}

.search-bar {
    height: 50px;
    background-color: white;
    border-radius: 24px;
    border: none;
}

.search-button {
    position: absolute;
    right: -5px;
    top: -11px;
}

.govco-icon {
    color: #0b457f !important;
}

.search-text {
    font-size: 20px;
    color: #0b457f;
}