.etiqueta {
    background-color: #808080;
    width: 246px;
    height: 25px;
    color: #ffffff;
    font-weight: bolder;
}

.titulo-opcion {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #0B457F;
    font-weight: bolder;
    margin-right: 40px;
}

.titulo-descripcion {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #0B457F;
}

.titulo-participantes {
    margin-top: -40px;
    margin-bottom: 15px;
    color: #0B457F;
    text-align: end;
}

.vmm {
    margin-top: 40px;
}

.mp {
    margin-top: 50px;
}

.texto1 {
    font-size: 14px;
    color: #0B457F;
}

.texto2 {
    font-size: 20px;
    color: #0B457F;
}

.fg1 {
    height: 230px;
    border-radius: 10px;
}

.bac {
    margin-left: 50px;
    margin-top: -5px;
}