.cds {
    background: #ffffff;
    box-shadow: #00000033;
    margin-top: -50px;
    position: relative;
    max-width: 1200px;
    max-height: auto;
    z-index: 1;
}

.cds-noticia {
    border: 0px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.cds-text {
    text-align: left;
    margin-left: 73px;
    margin-top: 30px;
}

.image-informate {
    height: 270px;
    width: 340px;
}

.h {
    height: 270px;
    width: 340px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 10px;
    position: static;
}

.img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.text {
    vertical-align: 0%;
    height: 120px;
    width: 94%;
    background-color: rgb(255, 255, 255);
    margin-top: -80px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.hw {
    max-height: 500px;
}

.blue {
    text-align: left;
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 1;
    /*color: #0B457F !important*/
}