<div class="cds-text">
    <h1 class="font-weight-light">Infórmate</h1>
</div>
<div class="container row col-md-12">
    <ng-container *ngFor="let info of listInfo; let i = index">
        <div class="col-md-{{info.size}}">
            <div class="container">
                <div class="imagen w-30">
                    <img class="img" src={{info.img}} />
                </div>
                <div class="card govco-card text">
                    <div class="card-body">
                        <span class="date blue">{{info.date}}</span>
                        <p></p>
                        <p class="blue">{{info.head}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="card-footer govco-card-footer govco-center col-md-12">
        <a [href]="" class="btn btn-low-mix-govco float-right"> <span class="btn-govco-text">Ver otras noticias</span> <span class="govco-icon govco-icon-right-arrow"></span> </a>
    </div>
</div>