<div class="container card govco-card cds">
    <!--<app-procedure></app-procedure>-->
    <app-tramites-section></app-tramites-section>
    <!--<app-opinion></app-opinion>-->
    <app-contacto-section></app-contacto-section>
    <!--<app-informate></app-informate>-->
    <app-informate-section></app-informate-section>
</div>
<div>
    <!--<app-otros-temas></app-otros-temas>-->
    <app-interes-section></app-interes-section>
</div>