.mas-usados {
    color: #004884;
    border: #3772FF;
    border: 2px;
    margin: 30px;
}

.sameline {
    display: inherit;
}

.icon-pl {
    position: relative;
    margin-top: -80px;
    margin-left: 250px;
}

.mas-usados-text {
    color: #3772FF;
    margin-bottom: 20px;
    margin-top: 10px;
}

.mas-usados-text2 {
    color: #3772FF;
    margin-bottom: 40px;
    margin-top: 10px;
}

.mas-usados-estado {
    color: #069169;
    margin-left: 50px;
}

.icon-mu {
    color: #069169;
}

.icon-mu1 {
    color: #069169;
    margin-top: -5px;
    margin-left: 15px;
}

.icon-mu3 {
    margin-top: -5px;
    margin-left: 70px;
}

.icon-box {
    position: relative;
    margin-top: -55px;
    z-index: 1;
}

.circulo {
    width: 20px;
    height: 20px;
    margin: 5px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #BABABA;
    color: #BABABA;
}

.circulo1 {
    width: 20px;
    height: 20px;
    margin: 5px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #3772FF;
    color: #3772FF;
}

.tramitesc2 {
    margin-top: 50px;
}

.tramites {
    margin-left: -40px;
    text-align: left;
}

.tramite-t {
    color: #0B457F;
    font-weight: bold;
    margin: 0%;
}

.tramite-d {
    font-size: 14px;
    vertical-align: center;
    color: #069169;
    margin-top: 10px;
    margin-left: 5px;
}

.tramite-e {
    font-size: 14px;
}

.tramite-c {
    font-size: 14px;
    vertical-align: center;
    margin-left: 5px;
    margin-top: 10px;
}

.tramite-l {
    font-size: 14px;
    text-align: right;
    text-decoration: underline;
    margin-left: 70px;
}

.tramite-link {
    font-size: 16px;
}

hr {
    margin-top: -5px;
}