<div class="container">
    <div class="row">
        <div class="card govco-card col-md-4 mas-usados">
            <div class="card-body">
                <p class="card-text mas-usados-text">Los tramites más usados</p>
                <div class="icon-pl"><span class="govco-icon govco-icon-plus size-4x"></span></div>
                <div>
                    <h2 class="font-weight-light">Certificado de antecedentes de responsabilidad fiscal</h2>
                </div>
                <p class="mas-usados-text2">Contraloría general de la República</p>
                <p class="mas-usados-estado">Disponible en línea</p>
                <div class="icon-box">
                    <span class="govco-icon govco-icon-check-cn icon-mu"></span>
                    <div class="mas-usados-text row justify-content-center vertical-aling-bottom">
                        <span class="circulo1">.</span>
                        <span class="circulo">.</span>
                        <span class="circulo">.</span>
                        <span class="circulo">.</span>
                        <span class="circulo">.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container col-md-7 tramitesc2">
            <div class="container">
                <p class="card-text">
                    <ng-container *ngFor="let tramites of listProcedure; let i = index">
                        <div class="tramites">
                            <div class="tramite-t">{{tramites.head}}</div>
                            <div class="tramite-e">{{tramites.site}}</div>

                            <div class="row" *ngIf="tramites.aval">
                                <div class="icon-mu1">
                                    <span class="govco-icon govco-icon-check-cn icon-mu"></span>
                                </div>
                                <div class="tramite-d">Disponible en línea</div>
                                <div class="icon-mu3">
                                    <span class="govco-icon govco-icon-peso-col-cp"></span>
                                </div>
                                <div class="tramite-c">{{tramites.price}}</div>
                                <div class="tramite-l">
                                    <a [href]="" class="btn btn-low-mix-govco float-right">
                                        <span class="btn-govco-text">Ver todo el tramite</span></a>
                                </div>
                            </div>

                            <div class="row" *ngIf="!tramites.aval">
                                <div class="icon-mu1"></div>
                                <div class="tramite-c">Trámite presencial&emsp;</div>
                                <div class="icon-mu3">
                                    <span class="govco-icon govco-icon-peso-col-cp"></span>
                                </div>
                                <div class="tramite-c">{{tramites.price}}</div>
                                <div class="tramite-l">
                                    <a [href]="" class="btn btn-low-mix-govco float-right">
                                        <span class="btn-govco-text">&emsp;Ver todo el tramite</span></a>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </ng-container>
                </p>
            </div>

            <div>
                <a [href]="" class="btn btn-low-mix-govco float-right">
                    <span class="btn-govco-text"> <h4>Conocer otros tramites</h4> </span>
                    <span class="govco-icon govco-icon-right-arrow tramite-link"> </span>
                </a>
            </div>
        </div>
    </div>
</div>